.learnerMapTitle {
}
.learnerMapBody {
	overflow: scroll;
	height: 650px;
	align-content: center;
	border: solid Black;
	border-width: 1px;
	width: 100%;
	/* position: relative; */
}
.learnerActivityTitle {
}
.learnerActivityBody {
	overflow: scroll;
	height: 650px;
	align-content: center;
	border: solid Black;
	border-width: 1px;
}
.learnerSummaryTitle {
}
.learnerSummaryBody {
	margin-top: 10px;
	align-content: center;
	border: solid Black;
	border-width: 1px;
}

.titleText {
	margin-left: 10px;
	width: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 10px;
}
.summaryText {
	height: 200px;
	margin-left: 10px;
	margin-top: 0px;
	width: auto;
	margin-right: 10px;
}

.summarySubmitButton {
	margin-left: 10px;
	width: auto;
	margin-right: 10px;
}
