.learnerMapTitle {
}
.learnerMapBody {
  min-height: 500px;
  align-content: center;
  border: solid white;
  border-width: 2px;
}
.learnerActivityTitle{
}
.learnerActivityBody{
  min-height: 500px;
  align-content: center;
  border: solid white;
  border-width: 2px;
}
.learnerSummaryTitle{
}
.learnerSummaryBody {
  min-height: 300px;
  align-content: center;
  border: solid white;
  border-width: 2px;
}
